body{
    padding: 0%;
    margin: 0%;
}

.container{
    width: 500px;
    height:500px;
    border: 1px solid #000;
    background-color: antiquewhite;
    
}
 sub-container{
    width: 300px auto;
    height:300px auto;
     border: 1px solid #000;
    background-color: white;
    border-bottom: #000;
    display: inline-block;
    justify-content: space-between;
}

.color{
    width: 200px auto;
    height:200px auto;
    border: 1px solid #000;
    display: inline-block;
}