#mainBox{
   display: flex;
}
.Box1{
    background-color: rgb(29, 39, 77);
    width: 300px;
    height: 1500px;
    color: rgb(220, 231, 241);
    display: inline-block; 
    }
     
.sub-box{
    margin-left: 20px;
}
         
h5{
    color: rgb(208, 208, 20);
    outline: white;
    margin-left: 40px;  
}   
     
       /* hr{
                 margin-right: 20px; */
                /* color:red; */
            /* } */
       /* .pp{
        margin-right: 20px;
       } */

.mypic{
    width: 30px;   
    height: 30px;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 10%;

   
  
} 

  .one{
    margin-left: 10px;
    h2{
        color:rgb(49, 49, 114);
    }
  }
#Box2{
    background-color: whitesmoke;
    width: 700px;
    height: 1500px;
    display: inline-block;
   
  
    
}
.two{
    margin-left: 10px;
}
 

 
.item{
    display: flex;
     h2{
        color:rgb(49, 49, 114);
    }
     
   h3{
    color:rgb(72, 170, 209);
   }
   
    
    
}
 

.position{
    margin-left: 30%;
    margin-top: 50PX;
}
.po-two{
 margin-left: 31%;
 /* margin-top: 10PX; */
}

.po-three{
 margin-left: 29%;
 /* margin-top: 10PX; */
}

.computer{
     margin-left: 27%;
     margin-top: 50px;
}
 
.science{
    margin-left: 30%;
    margin-top: 8px;
}

.science2{
    margin-left: 32%;
}

.em-month{
    margin-left: 10%;
    margin-top: 50px;
}
 
 
.cp-comptition{
    margin-left: 30%;

}
.softwere{
    margin-left: 50px; 
}