.subdiv{
      width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-color: aqua;
}

#maindiv{
    display: grid;
    grid-template-columns: 150px 150px ;
    justify-items: center;
   align-items: center;
   justify-content: center;
}

.subdiv{
    width: 60px ;
    height: 60px;
    border: 1px solid #000;
    background-color: beige;
    
}