*{
    margin: 0px;
    padding: 0px;

}

#mainDiv{
    background-color: white;
    margin: 0px;
    padding: 0px;

}


#NavBar{
    background-color: #fffffff2;
    color: black;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;

    #links{
        
        display: flex;
        gap: 60px;
        align-items: center;
        margin: auto;
        padding: auto;
        a{
            gap: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }

    }

    /* .mypic{
      width: 200px;
      height: 200px;
      border: 1px solid #000;
    } */

    #sign{
        text-decoration: none;
        font-size: 15px;
        color: black;
        margin-right: 20px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    
    #button{
        padding: 10px 10px;
        border: none;
        color: white;
        background-color:black;
        text-decoration-color:white;
        font-size: 15px;
        border-radius: 10px;
    }
  
}


#container {
  display: flex;       
  align-items: center;      
  justify-content: space-around;
  background-color: white;    
  color: black;    
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  padding-left: 30px;
  margin-bottom: 100px;
}  


.detail{
  width: 600px;
  display: inline-block;
}

h1{
  font-size: 50px;
  margin-top: 0%;
  margin-bottom: 15px;
  color: black               
}

 p {
  font-size: 25px;
  color: rgb(138, 126, 126);
  font-weight: normal;
  margin-bottom: 25px;
}

#email {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputField {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

#email label {
  flex-direction: column;
  color: rgb(54, 53, 53);
  font-size: 20px;
  
}

#email input {
  color: rgb(100, 99, 99);
  width: 300px;
  height: 30px;
  padding: 10px;
  font-size: 20x;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
}

#btn {
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px; 
}
#disclimer{
   color: rgb(162, 159, 159);
   font-size: 20px;
   a{
    color: rgb(144, 142, 142);
   }
}

#container img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin-left: 75px;
  font-family: Arial, roboto, sans-serif;
  
}





#client{
    margin-top: 100px;
    align-items: center;
    color: rgb(107, 105, 105);
    justify-content: center;
    padding: auto;

}
   



.d1{

    display: flex;
   
 
   
}
#subdiv1 {
    img{
     width: 200px;
      height: 200px;
     gap: 20px;
    }
    
     #Spotify{
       height:200px;
        width:150px;
     }
      #Google{
       height:100px;
        width:50px;
     }
     #Amazon{
       height:100px;
        width:50px;
     } 

     #net{
       height:100px;
        width:150px;
     }
    }

    #Skills{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
    color:#263238;

    

    #d1{
        margin-top: 0%;
        padding: auto ;
        font-size: 50px;
        color:#263238;
        
    }
    
    #para{
        font-size: 23px;
        color: rgb(130, 127, 127);
        margin: 0px 90px;
       
    }
}

#d1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  gap: 20px;
  margin: 20px 30px 40px 50px ;
  color: #263238;
  
}
#d1 span{
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
#d1 span img{
   padding: 25px;
  width: 40px;
  height: 40px;
}
#d1 span p{
  color: rgb(172, 168, 168);
  font-size: 23px;
}

#projet{
    justify-items: center;
    p{
        color: rgb(172, 168, 168);
     font-size: 23px;
     margin: 20px;
    
    }
}

#project{
  display: grid;
  grid-template-columns:auto auto auto auto;
  justify-content: space-between;
  gap: 20px;
  margin: 30px;
}
#card{
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin-left: 20px;
}
#card img{
  text-align: justify;
  margin-right: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px;
  width: 100%;
  height: auto;
}
#card h1{
  margin-right: 20pxpx;
  text-align:justify;
  font-size: 24px;
  font-weight: bold;
}
#card p{
  
  text-align: start;
  margin: 0 0 10px 0;
  font-size: 20px;
  color: rgb(158, 157, 157);
}
.btn1{
  text-align: start;
  width: 140px;
  height: 40px;
 padding: 8px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px; 
  font-size: 18px;
  display: block;

   margin-bottom: 100px;
}

#resume{


  display: flex;       
  align-items: flex-start;      
  justify-content:flex-start;
  gap: 25px;      
  padding-left: 20px;              
  background-color: white;    
  color: black; 
  margin-bottom: 100px;
}
#resume span{
  margin-left: 20px;
}
#resume span h1{
  text-align: start;
  font-size: 35px;
  
}
#resume span p{
  text-align: start;
  color: rgb(158, 157, 157);
  font-size: 18px;
}
#resume span a{
  text-decoration: none;
  color:black ;
  font-size: 19px;
  font-weight: bold;
}
.fg span{
  display: flex;
  gap: 10px;
 
 
}
.fg span img{   
  
  width: 60px;
  height: 60px;
 

   /* display: flex;       
  align-items: center;      
  justify-content: space-around;
  background-color: white;    
  color: black;    
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  padding-left: 30px;
  margin-bottom: 100px; */
}

#clients{
    justify-items: center;
    p{
        color: rgb(172, 168, 168);
     font-size: 23px;
     margin: 20px;
     padding: 30px;
    align-items: center;
    
    }
}


#client{
  display: flex;
}

#skills{
    justify-items: center;
    align-items: center;
    p{
        color: rgb(172, 168, 168);
     font-size: 23px;
     margin: 10px;
     padding: 30px;
     font-size: 22px;
    align-items: center;
    
}
}

.subDiv1{
  display:inline-flexbox;
  flex-direction: column;
  justify-content:space-between;
  align-content: center;
  margin-bottom: 200px;

}
.subDiv1 img{
  border: none;
      width: 180px;
      height: 180px;
      background-color:white;
      filter: grayscale(100%);
      color:aliceblue ;
        
}
#ids{
   display: flex;       
  align-items: center;      
  justify-content: space-around;
  gap: 5px;
  padding: 25px;
  gap: 40px;                    
  padding: 40px;
  background-color: rgb(241, 238, 238);  
  border: 2px solid rgb(250, 247, 247);
  border-radius: 20px ;  
  box-shadow: 8px;
  color: rgb(245, 243, 243);  
}
.id{
  padding-top: 50px;
  padding-left: 60px;
  margin: 50px;
  gap: 25%;
  width: 700px;
  height: 600px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: rgb(32, 29, 29);
  h3{
    color: white;
    font-size: 40px;
  }
  p{
    color: rgb(231, 231, 229);
    font-size: 20px;
  }
  p{
    color: white;
    font-size: 18px;
  }

}
#forField {
  width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
   gap: 25px;
}
#forField label {
  font-size: 20px;
  color: #8c9bb9;
  margin-bottom: 5px;
  display: inline-block;
}
#forField input[type="text"],
#forField input[type="email"] {
  
  border: none;
  border-bottom: 2px solid #333;
  padding: 8px 0;
  outline: none;
  width: 100%;
  font-size: 18px;
  background: transparent;
}
#forField input[type="text"]:focus,
#forField input[type="email"]:focus {
  border-bottom: 2px solid black;
}
#forField span{
  display: flex;
  gap: 12px;
  align-items: center;
}

#forField span label {
  margin-right: 10px;
  font-size: 22px;
  color: #b7b0b0;
}
#forField span input{
  transform: scale(1.3);
  margin-right: 6px;

}
#forField input[type="radio"] {
  transform: scale(1.3);
  margin-right: 6px;
}
#forField button {
  background-color:black;
  color: white;
  border: none;
  padding: 10px 0;
  width: 240px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 70%;
}
.nameRow{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.nameRow div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#forField h1{
  color:  #8c9bb9;
  font-size: 30px;
}
#ladtNavBar{
  border: none;
  background-color: white;
  border-radius: 2px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 10%;
  
  
}
#ladtNavBar h1{
  padding-right: 18px;
  font-size: 20px;
  color: #868181 ;
  align-items: start;
  text-align: start

}
#ladtNavBar button{
  gap:50%;
  margin:8px;
  padding: 10px;
  background-color: white;
  border: none;
  font-size: 18px;
  color: #868181 ;
  text-align: start;
  
}
#ladtNavBar div{
  .sub{
  background-color:black;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  align-items: start;
  text-align: start;
  }
}

